
.MuiPaper-elevation4.app {
    box-shadow: none;
  }
  
  .MuiAppBar-colorPrimary.app {
    background-color: #C5E9FF;
    width: 100vw;
    min-width: 990px;
    height: 117px;
    margin: 0 auto;
  }
  
  .MuiToolbar-root.myToolBar {
    background-color :#C5E9FF;
    width: 100vw;
    min-width: 990px;
    height: 117px;
    margin: 0 auto;
    padding: 0px;
  }
  
  .MuiIconButton-root.menuButton {
    margin-right: 50px;
    padding-left: 45px 
  }
  
  .MuiTypography-root.title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
    color: black;
    padding-left: 75px;
  }
  
  .MuiContainer-root.container {
    background-color:#C5E9FF;
    height: 40vh;
    min-height: 590px;
    width: 100vw;
    min-width: 990px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    box-shadow: inset 0px 15px 7px -5px rgba(128,128,128,0.5);
    align-items: center;
    
    img {
      margin-left: 60px;
    }
  
    .registrationDiv {
      width: 400px;
      height: 450px;
      background: white;
      text-align: center;
      border-radius: 5px;
      margin-right: 40px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      
      .labelInput {
        display: flex;
        flex-direction: column;
  
        label {
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          text-align: left;
          margin: 5px;
        }
      }
  
      .containerh1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 42px;
      }
  
      .MuiInputBase-root.input {
        width: 321px;
        height: 40px;
      } 
    
      .registrationButtons {
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 20px;
    
        button {
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          line-height: 42px;
          margin-right: 40px;
          height: 40px;
          text-transform: none;
          font-size: 18px;
  
        }
      }
    }
  }
  
  .MuiOutlinedInput-notchedOutline {
    border-color: red;
  }
  @media screen and (max-width: 575px) {
  
  // .MuiPaper-elevation4.app {
  //   box-shadow: none;
  // }
  
  .MuiAppBar-colorPrimary.app {
  //   background-color: #C5E9FF;
    width: 100vw;
    max-width: none;
    min-width: 280px;
  //   height: 117px;
  //   margin: 0 auto;
  }
  
  .MuiToolbar-root.myToolBar {
  //   background-color :#C5E9FF;
    width: 100vw;
    max-width: none;
    min-width: 280px;
  //   height: 117px;
  //   margin: 0 auto;
  //   padding: 0px;
  }
  
  .MuiIconButton-root.menuButton {
    margin-right: 0px;
    padding-left: 20px 
  }
  
  .MuiTypography-root.title {
  //   font-family: Roboto;
  //   font-style: normal;
  //   font-weight: 300;
    font-size: 20px;
    width: 50vw;
    text-align: center;
  //   line-height: 42px;
  //   color: black;
    padding-left: 15px;
  }
  
  .MuiAppBar-colorPrimary.app {
    // background-color: #C5E9FF;
    width: 100vw;
    max-width: none;
    min-width: 280px;
    height: 13vh;
    // margin: 0 auto;
  }
  
  .MuiContainer-root.container {
    // background-color:#C5E9FF;
    height: 87vh;
    min-height: 640px;
    width: 100vw;
    max-width: none;
    min-width: 280px;
    // margin: 0 auto;
    // display: flex;
    // justify-content: space-around;
    // box-shadow: inset 0px 15px 7px -5px rgba(128,128,128,0.5);
    // align-items: center;
    img {
      // margin-left: 60px;
      display: none;
    }
    .registrationDiv {
      width: 80vw;
      height: 65vh;
      // background: white;
      // text-align: center;
      // border-radius: 5px;
      margin-right: 0px;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-around;
      // align-items: center;
      
      .labelInput {
        // display: flex;
        // flex-direction: column;
  
        label {
          // font-family: Roboto;
          // font-style: normal;
          // font-weight: 300;
          // text-align: left;
          // margin: 5px;
        }
      }
  
      .containerh1 {
        // font-family: Roboto;
        // font-style: normal;
        // font-weight: 300;
        // font-size: 36px;
        // line-height: 42px;
      }
  
      .MuiInputBase-root.input {
        width: 60vw;
        height: 40px;
      }
  
      .registrationButtons {
        // text-align: left;
        // width: 100%;
        // display: flex;
        // flex-direction: column;
        // align-items: flex-end;
        // margin-top: 20px;
    
        button {
          // font-family: Roboto;
          // font-style: normal;
          // font-weight: 300;
          // line-height: 42px;
          // margin-right: 40px;
          // height: 40px;
          // text-transform: none;
          // font-size: 18px;
        }
      }
      }
    }
  }
  