.MuiContainer-root.my-wrapper-table {
  background-color: #C5E9FF; 
  width: 100vw;
  height: 69vh;

  min-height: 150px;
  box-shadow: inset 0px 15px 7px -5px rgba(128,128,128,0.5);
  max-width: none;
  flex-direction: row;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  
  .label-input-inputs {
    width: 15%;
    min-width: 150px;
    height:100px ;
    
    .MuiInputBase-root.input input{
      background-color: rgb(180, 39, 39);
      border-radius: 4px;
      padding: 0px;
      height: 100%;
    }
  }

  button {
    background-color: white;
    border-radius: 4px;
    height: 10%;
  }
}

.MuiTableContainer-root.my-table {
  width: 85%;
  .conteiner-for-img {
    width: 25%;
    display: flex;
   
    img {
      width: 30px;
      padding-left: 10px;

    }
  }
}

@media screen and (max-width: 1024px) {
  .MuiContainer-root.my-wrapper-inputs  {
    height: 10vh;
  }
}