body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// .MuiPaper-elevation4.app {
//   box-shadow: none;
// }

// .MuiAppBar-colorPrimary.app {
//   background-color: #C5E9FF;
//   width: 100%;
//   // min-width: 990px;
//   // height: 15%;
//   margin: 0 auto;
// }

// .MuiToolbar-root.myToolBar {
//   background-color :#C5E9FF;
//   width: 100%;
//   // min-width: 990px;
//   // height:20%;
//   margin: 0 auto;
//   padding: 0px;
// }

// .MuiIconButton-root.menuButton {
//   margin-right: 50px;
//   padding-left: 45px 
// }

// .MuiTypography-root.title {
//   font-family: Roboto;
//   font-style: normal;
//   font-weight: 300;
//   font-size: 36px;
//   line-height: 42px;
//   color: black;
//   padding-left: 75px;
// }

// .MuiContainer-root.container {
//   background-color:#C5E9FF;
//   height: 91vh;
//   min-height: 590px;
//   width: 100%;
//   min-width: 990px;
//   margin: 0 auto;
//   display: flex;
//   justify-content: space-around;
//   box-shadow: inset 0px 15px 7px -5px rgba(128,128,128,0.5);
//   align-items: center;
  
//   img {
//     margin-left: 50px;
//     margin-right: 20px;
//     width: 30%;
//     // min-width: 500px;
//   }

//   .registrationDiv {
//     width: 55%;
//     // max-width: 500px;
//     // min-width: 400px;
//     height: 60%;
//     min-height: 500px;
//     background: white;
//     text-align: center;
//     border-radius: 5px;
//     margin-right: 40px;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-around;
//     align-items: center;

//     .containerh1 {
//       font-family: Roboto;
//       font-style: normal;
//       font-weight: 300;
//       font-size: 36px;
//       line-height: 42px;
//     }

//     .my-style-error{
//       background-color: #C5E9FF;;
//       width: 80%;
//       // max-width: 400px;
//       font-weight: 300;
//       color: black;
//       font-size: 12px;
//       padding: 0px;
//       position: relative;
//       z-index: 2;
//       // top: -55px;
//     }

//     .labelInput {
//       display: flex;
//       flex-direction: column;
//       width: 80%;
//       max-height: 50px;
      

//       label {
//         font-family: Roboto;
//         font-style: normal;
//         font-weight: 300;
//         text-align: left;
//         margin: 5px;
//         width: 50%;
//       } 
      
//       .MuiInputBase-root.input {
//         width: 100%;
//         // max-width: 400px;
//         height: 6%;
//         min-height: 40px;
//         max-height: 50px;
//       }      
//     }
  
//     .registrationButtons {
//       text-align: left;
//       width: 100%;
//       display: flex;
//       flex-direction: column;
//       align-items: flex-end;
//       margin-top: 0px;
  
//       button {
//         font-family: Roboto;
//         font-style: normal;
//         font-weight: 300;
//         line-height: 42px;
//         margin-right: 40px;
//         height: 40px;
//         text-transform: none;
//         font-size: 18px;
//         margin-bottom: 5px;
//       }
//     }
//   }
// }

// .MuiOutlinedInput-notchedOutline {
//   border-color: red;
// }

// @media (min-width: 1280px) {
//   .container.MuiContainer-maxWidthLg {
//     max-width: none;
//   }
// }

// @media screen and (max-width: 575px) {

//   .MuiAppBar-colorPrimary.app {
//     width: 100%;
//     // max-width: none;
//     // min-width: 280px;
//   }

//   .MuiToolbar-root.myToolBar {
//     width: 100%;
//     // max-width: none;
//     // min-width: 280px;
  
//   }

//   .MuiIconButton-root.menuButton {
//     margin-right: 0px;
//     padding-left: 20px;
//     margin-left: 10px;
//   }

//   .MuiTypography-root.title {
//     font-size: 32px;
//     width: 50%;
//     text-align: center;
//     padding-left: 15px;
//   }

//   .MuiAppBar-colorPrimary.app {
//     width: 100%;
//     // max-width: none;
//     // min-width: 280px;
//     height: 100px;
//   }

//   .MuiContainer-root.container {
//     height: 624px;
//     min-height: 300px;
//     width: 100%;
//     // max-width: none;
//     // min-width: 280px;
    
//     img {
//       display: none;
//     }

//     .registrationDiv {
//       width: 74%;
//       height: 90%;
//       margin-right: 0px;
//     }

//     .MuiInputBase-root.input {
//       width: 100%;
//       height: 40px;
//     }
//   }
// }



.MuiPaper-root.my-app {
  background-color: #C5E9FF;
  color: #000000;
  height: 15vh;
  min-height: 150px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  box-shadow: none;

  
  img {
    width: 10vw;
    margin-right: 3rem;
  }

  .MuiTypography-root {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
  };
};

@media screen and (max-width: 1024px) {
  .MuiPaper-root.my-app {   

    img {
      width: 15vw;
    }  

    .MuiTypography-root {
      font-size: 46px;
    };
  };
};

@media screen and (max-width: 768px) {
  .MuiPaper-root.my-app { 
           
    .MuiTypography-root {
      line-height: 60px;
    };
  };
};

@media screen and (max-width: 575px) {
  .MuiPaper-root.my-app { 
    img {
      width: 20vw;
      margin-right: 0;
    } 
       
    .MuiTypography-root {
      font-size: 32px;
      line-height: 60px;
    };
  };
};

@media screen and (max-width: 411px) {
  .MuiPaper-root.my-app {   
    .MuiTypography-root {
      font-size: 28px;
    };
  };
};

@media screen and (max-width: 320px) {
  .MuiPaper-root.my-app { 
    height: 10vh;
    min-height: 100px;

    .MuiTypography-root {
      font-size: 20px;
    };
  };
};

@media screen and (max-width: 280px) {
  .MuiPaper-root.my-app { 
    height: 8vh;
    min-height: 80px;

    .MuiTypography-root {
      font-size: 18px;
      line-height: 20px;
    };
  };
};

@media screen and (max-width: 240px) {
  .MuiPaper-root.my-app { 
    height: 5vh;
    min-height: 60px;

    .MuiTypography-root {
      font-size: 16px;
      line-height: 20px;
    };
  };
};